@import "utils/variables.scss";

$screen-xxs: 360px;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow: auto;
  background: $layout-body-background;

  @media (min-width: $screen-md-min) {
    background-image: url("https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg");
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
  }
}

.content {
  height: 80vh;
}

.top {
  text-align: center;
}

.header {
  height: 100px;
  line-height: 44px;

  @media (min-width: $screen-xxs) {
    height: 44px;
  }

  a {
    text-decoration: none;
  }
}

.title {
  position: relative;
  top: 2px;
  color: $heading-color;
  font-weight: 600;
  font-size: 42px;
  font-family: Avenir, "Helvetica Neue", Arial, Helvetica, sans-serif;

  @media (min-width: $screen-xxs) {
    font-size: 33px;
    text-align: center;
  }
}

.desc {
  margin-top: 6px;
  margin-bottom: 40px;
  color: $text-color-secondary;
  font-size: $font-size-base + 2px;
}
