@import "utils/variables.scss";

.main {
  width: 368px;
  margin: 0 auto;
  @media screen and (max-width: $screen-sm) {
    width: 95%;
  }

  .icon {
    margin-left: 16px;
    color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $primary-color;
    }
  }
}

.login {
  .icon {
    margin-left: 16px;
    color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $primary-color;
    }
  }

  .submitContainer {
    margin: 0px;

    .submit {
      width: 100%;
      margin-top: 0px;
    }
    .register {
      float: right;
    }
  }

  .other {
    .orSignUpDivider {
      font-weight: 700;
      font-size: $font-size-base + 2px;
      text-align: center;
      margin: 2px 0px 24px 0px;
    }

    .alternative {
      display: flex;
      flex-direction: column;
      .socialMediaBtn {
        text-align: left;
        margin-bottom: 12px;

        .socialMediaBtnInnerText {
          position: absolute;
          text-align: center;
          top: 50%;
          font-size: 16px;
          transform: translateY(-50%) translateX(-37px);
          width: 100%;
          padding-left: 4px;
        }
      }
    }
  }

  .prefixIcon {
    color: $disabled-color;
    font-size: $font-size-base;
  }
}
